selenium==4.15.0
undetected-chromedriver==3.5.2
webdriver-manager==4.0.1
fake-useragent==1.4.0
requests==2.31.0
pillow==10.0.0
colorama==0.4.6
rich==13.7.0
certifi==2024.7.4
pyotp
python-telegram-bot
pymongo
certifi
httpx
flask
pyotp
g4f
curl_cffi
google-generativeai==0.5.2
python-dotenv
playwright
fake-useragent
playwright-stealth
