selenium==4.15.0
undetected-chromedriver==3.5.2
webdriver-manager==4.0.1
fake-useragent==1.4.0
requests==2.31.0
pillow==10.0.0
colorama==0.4.6
rich==13.7.0
flask==2.3.0
python-telegram-bot==20.8
pymongo==4.9.1
python-dotenv==1.0.1
certifi==2024.7.4
httpx
pyotp
flask
g4f
